@charset "utf-8";
body, button, select, textarea, input, label, option, fieldset, legend{font-family: 微软雅黑E\8F6F\96C5\9ED1,Tahoma,Verdana;font-size: 12px;line-height: 18px;color: #444;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td{margin: 0;padding: 0;}
textarea{resize: none};
body{background-color: #f6f6f6;}
.clear{height:1px;overflow:hidden;clear:both;}
html{ font-size:62.5%;}
a,img{border:0;}
a{color: #666;text-decoration: none;&:hover{color:#0053a6;};}
li{list-style-type:none;}
.gradient{
    background: -webkit-gradient(linear,left top,left bottom,color-stop( 0%,#f4f4f4),color-stop( 100%,orange));
    background: linear-gradient( top ,#f4f4f4 0,orange 100%);
    // background: linear-gradient( to bottom,#f4f4f4 0,#eee 100%);
}
.boxshadow{
    border-bottom: solid 1px #b3b3b3;
    box-shadow: 0 1px 1px 0 #dfdfdf;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fafafa;
   @at-root .navlist{
       margin: 0;
       padding: 0;
       @extend .gradient;
       @extend .boxshadow;
       list-style: none;
       position: relative;
       height: 50px;
       li{
           float: left;
           height: 50px;
           width: 25%;
           a{
               width: 100%;
               height: 50px;
               display: inline-block;
               border-right: solid 1px #eaeaea;
               text-align: center;
               span{
                   display: inline-block;
                   width: 50px;
                   height: 50px;
                   background: url(../images/icon/icon.png) no-repeat 0 -46px;
                   background-size: 214px auto;
               }
               .active{
                   background-position:0 0;
               }
           }
       }
       #nav-1{
           span{
               background-position: -101px -46px;
               .active{ background-position: -101px 0; }
           }
       }
       #nav-2{
        span{
            background-position: -161px -46px;
            .active{ background-position: -161px 0; }
        }
    }
        #nav-3{
            border-right: none;
            span{
                background-position: -51px -46px;
                .active{ background-position: -51px 0; }
            }
        }
   }
}
     #topSlider{
        position: relative;
        top: 51px;
        height: 256px;
        left: 0;
        width: 100%;
        img{
            width:100%;
            height: 200px;
        }
        .mask{
            background: red;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 0.8;
            background:#000; 
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            a{
                width: 100px;
                height: 30px;
                display: inline-block;
                text-decoration: none;
                line-height: 30px;
                border-radius: 3px;
                text-align: center;
                background: #15bd10;
                color: #fff;
                font-size: 16px;
                margin-top: 10px;
            }
            .leftslidecontent{
                width: 200px;
                height: 46px;
                padding-top: 10px;
                p{  
                    width: 200px;
                    display: inline-block;
                    font-size: 12px;
                    line-height: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #fff;
                    text-indent: 12px;
                    span{
                        color: #15bd10;
                    }
                }
            }
        }
    }